.UserBoardGame {
    width: 90%;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
    margin: 10px auto 10px auto;
    padding: 10px;
}

.userBoardGameImage {
    width: 70%;
    margin: 10px auto 0px auto;
}

.userBoardGame_title {
    margin-bottom: 0px;
}

.userBoardGameEditLink {
    display: inline-block;
    width: 100%;
}

.userBoardGameRatings > p {
    margin: 0px;
}

.userBoardGameNotesHeader {
    border-bottom: 1px solid rgb(210, 210, 210);
    font-weight: bold;
}

@media (min-width: 900px) {
    .userBoardGameImage {
        width: 50%;
    }

    .userBoardGameRatings {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .userBoardGameRatings > p {
        display: inline-block;
        width: 33%;
    }
}