.PickPlayBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto auto 10px auto;
}

.PickPlayBlockImage {
    width: 100px;
    margin-right: 20px;
}

.PickPlayInfo {
    width: 50%;
}

.PickPlayButton {
    width: 20%;
}