.SessionForm {
    width: 90%;
    margin: 0px auto 50px auto;
}

.sessionForm_formField {
    margin-bottom: 20px;
}

.sessionForm_formField > label {
    display: inline-block;
    width: 100%;
}

#gameTitle {
    display: inline-block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.gameTitleHelperText {
    font-size: 14px;
}

.sessionForm_Header {
    display: inline-block;
    width: 90%;
}

.sessionFormGameTypeHeader {
    width: 90%;
    padding-top: 10px;
    margin: auto auto 30px auto;
    border-top: 2px solid rgb(230, 230, 230);
}

.sessionForm_gameTypeOptions,
.sessionForm_gameWinOptions {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto auto 20px auto;
    padding-left: 20px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.gameTypeButton,
.gameWinOption {
    border: 1px solid rgb(230, 230, 230);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 2em;
    padding-right: 20px;
    margin-right: 5px;
    background-color: white;
}

.highlight {
    background-color: rgb(28, 102, 28);
    color: white;
}

.hidden {
    display: none;
}

.sessionForm_playerInfo {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 10px;
    margin: 0px auto 20px auto;
    background-color: rgb(230, 230, 230);
}

.sessionForm_playerInfoFields {
    width: 90%;
    margin-left: 20px;
    text-align: left;
}

.sessionForm_playerInfoFields > label,
.sessionForm_winLossField > label {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.sessionForm_playerInfoFields > input {
    margin-bottom: 10px;
    width: 80%;
}

.sessionForm_winLossField {
    width: 90%;
    margin: 0px auto 10px auto;
    text-align: left;
    padding-left: 10%;
}

.sessionForm_addPlayer {
    display: inline-block;
    margin-bottom: 20px;
}

.AddDestinationForm_credError {
    font-size: 12px;
    color: red;
}