.TopNav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    position: relative;
    border: none;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    line-height: 40px;
    width: 100%;
    direction: rtl;
    margin-bottom: 25px;
    border-bottom: 1.5px solid rgb(16, 60, 16);
    background-color: rgb(16, 60, 16);
    box-shadow: 0px 4px rgb(0,0,0,0.15);
}

.topNavHeader {
    margin-left: 10px;
}

.topNavHeaderLink {
    font-size: 18px;
    color:white;
    font-weight: bold;
    text-decoration: none;
}
  
.menu {
    margin-right: 0px;
    margin-left: auto;
    direction: ltr;
    min-width: 50px;
    padding: 5px 5px 5px 5px;
}

.TopNav_contentContainer {
    position: absolute;
    right: 0;
    top: 100%;
    width: 150px;
    z-index: 1;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    background-color: rgb(235, 235, 235, 0.9);
    text-align: right;
    margin-right: 10px;
}
  
.TopNav ul {
    list-style: none;
    margin: 0px 0px 0px auto;
    padding-right: 10px;
    direction: ltr;
}
  
.TopNav li {
    display: inline-block;
    padding-left: 20px;
}

.menulink {
    text-decoration: none;
    color:white;
}
  
.hamburger {
    margin-left: auto;
    width: 20px;
    font-size: 20px;
    font-weight: bold;
}
    
.hamburger:hover {
    cursor: pointer;
    display: block;
    right: 0;
    left: auto;
    top: 10px;
    visibility: visible;
}

.show {
    margin-right: 0px;
    margin-left: auto;
}

.show > li {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.hidden {
    display: none;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.hamburgerButton,
.topNavLink {
    color: white;
    background-color: rgb(16, 60, 16);
    border: none;
    text-decoration: none;
    font-size: .90em;
}

.topNavLink {
    color: rgb(16, 60, 16);
    background-color: rgb(235, 235, 235, 0.9);;
    border: none;
    text-decoration: none;
    font-size: .90em;
}

.topNavLink {
    padding-right: 10px;
}

button:hover,
.menulink {
    cursor: pointer;
}

@media (min-width: 1200px) {
    .TopNav {
        background-color: rgb(16, 60, 16);
        border-bottom: solid 2px white;
        padding: auto 20px auto 20px;
    }

    .break {
        display: none;
    }

    .topNavHeader {
        margin-left: 40px;
    }

    .topNavHeaderLink {
        font-size: 22px;
        font-weight: bold;
        color: white;
    }

    .hamburger,
    .hamburgerButton {
        display: none;
    }

    .show,
    .hidden {
        display: inline-block;
    }

    .TopNav_contentContainer {
        position: unset;
        display: flex;
        flex-direction: row-reverse;
        border: none;
        text-align: left;
        width: 100%;
        background-color: rgb(16, 60, 16);
    }

    .TopNav ul {
        display: flex;
        flex-direction: row;
        direction: rtl;
        margin: auto 50px auto auto;
    }

    .topNavLink {
        font-size: 18px;
        background-color: rgb(16, 60, 16);
        color: white;
    }
}