.UserDemo_logo {
    display: none;
}

.userDemoIntro {
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    margin-bottom: 20px;
}

.UserDemo_form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.userDemo_formFields > label {
    display: inline-block;
    width: 100%;
}

.userDemo_formFields > input {
    width: 100%;
    margin-bottom: 20px;
}

.userDemo_formCredError {
    font-size: 12px;
    color: red;
    margin-bottom: 10px;
}

@media (min-width: 800px) {
    .UserDemo {
        display: flex;
        flex-direction: row;
        width: 50%;
        margin: 50px auto 20px auto;
    }

    .UserDemo_logo {
        display: inline-block;
        width: 30%;
        padding-top: 5vh;
    }

    .userDemo_logoImage {
        width: 10vw;
    }

    .UserDemo_form {
        margin-left: 0px;
    }
}